extends ../shared/template
block content
    h2 Login Page
    .row
      form(role='form' method='post' action='/login')
       .col-xs-4
       .col-xs-4
        .form-group
          label E-Mail
          input#email.form-control(for='email' type='email' name='email')
        .form-group
          label Password 
          input#password.form-control(for='password' type='password' name='password')

          button.btn.btn-primary Login 
       .col.xs-4



block scripts
